# Defualt JS-Stuff
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results
build

# Ignore all files that are download using npm or created using grunt
node_modules/
config.js
client_config.js

# Ignore all CSS files that are copied using Grunt, but dont ignore the ones that are created manually
public/css/bootstrap*
public/css/bpmn*
public/css/diagram*
public/font/
public/fonts/
public/js/
public/vendor/
public/swagger/css
public/swagger/fonts
public/swagger/images
public/swagger/lang
public/swagger/lib
public/swagger/swagger-ui.js


# Ignore all IDE files
.idea
*.iml

# Ignore macos files
.DS_Store
