---
---

@import "{{ site.theme }}";
header {
    background-color: #1A662E;
    background-image: none;
}
header h1 {
    text-shadow: 0px 2px 0px #074818;
}
#banner {
    background-color: #882F23;
    border: 1px solid #601309;
}
#banner .button {
    border: 1px solid #601309;
    background-color: #AB4E42;
}
#banner .button:hover {
    background-color: #D58176;
}
code {
    font-family:Monaco,"DejaVu Sans Mono","Courier New",monospace;
    font-size:13px;
    color:#666;
    padding:0 5px 2px;	
    border:1px solid #ddd;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    background-clip:padding-box;
    text-shadow:none;
    background: #fff
}